body{
	background-color: gray;
}

.menu{
	position: absolute;
	float: left;
	background-color: grey;
	color: white;
}
.menu li:hover{
	background-color: white;
	color: black;
}
footer {
    background: rgb(67, 149, 209) !important;
    margin-top: 6% !important;
    padding: 5% 3% 3% 3%;
  }
  
  footer .iconos a {
    line-height: 1.5;
    color: #ffffff;
    text-align: center !important;
    font-size: 24px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif !important;
    transition: 0.2s;
  }
  
  footer .iconos i {
    transition: 0.2s;
  }
  
  footer .iconos a:hover,
  footer .iconos i:hover {
    color: #282562;
    transform: scale(1.2);
  }
  
  footer .contactenos ul {
    padding-left: 0px;
  }
  
  footer .title-footer {
    font-weight: bold;
    letter-spacing: 0.2 px;
    cursor: default;
    color: #ecf0f1;
  }
  
  #acordion-footer .card-header {
    background-color: rgb(67, 149, 209) !important;
    padding-left: 0px;
    padding: 0px;
  }
  
  #acordion-footer a {
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif !important;
    font-size: 1.1rem;
    margin-top: 0px;
    color: #ecf0f1;
    padding: 0px;
    height: 40px !important;
    cursor: pointer;
  }
  
  footer .card-header a {
    color: white;
    cursor: pointer;
  }
  
  footer .card-header a:hover {
    border-bottom: 3px #282562 solid !important;
    border-radius: 0px;
  }
  
  footer .card-body p {
    font-family: "Poppins", sans-serif;
  }
  
  #acordion-footer .card {
    border: none !important;
  }

 .slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
 }
 .slider ul{
     display: flex;
     padding: 0%;
     width: 140em;
 }
 .slider li{
     width: 100%;
     list-style: none;
 }

 .slider img{
     width: 100%;     
 }


